@charset "UTF-8";

*{margin:0; padding:0;}
ul{list-style: none;}
a{text-decoration: none; color:black;}
img{border:0; vertical-align:top;}

  #section .new{
    width:100%; height:950px;
    background-image: url(images/bk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  #section .new .new_title{
    text-align:center;
  }
  #section .new .new_title>img{
    margin-top:60px;
    margin-bottom:15px;
  }
  #section .new .new_cont{
    width:1560px; margin:0 auto;
    display:flex;
    justify-content: space-between;
  }
  #section .new .new_cont>li{
    width:380px; height:580px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.527);
    backdrop-filter: blur(10px);
  }
  #section .new .new_cont>li .cont1_img img,
  #section .new .new_cont>li .cont2_img img,
  #section .new .new_cont>li .cont3_img img,
  #section .new .new_cont>li .cont4_img img{
    width:380px;
  }
  #section .new .new_cont>li .cont1_img img:first-child,
  #section .new .new_cont>li .cont2_img img:first-child,
  #section .new .new_cont>li .cont3_img img:first-child,
  #section .new .new_cont>li .cont4_img img:first-child{
    position:absolute; left:0; top:0;
    transition: all 0.5s;
  }
  #section .new .new_cont>li .cont1_img img:first-child:hover,
  #section .new .new_cont>li .cont2_img img:first-child:hover,
  #section .new .new_cont>li .cont3_img img:first-child:hover,
  #section .new .new_cont>li .cont4_img img:first-child:hover{
    opacity: 0;
  }
  #section .new .new_cont>li .img_wrap{
    position:relative;
  }
  #section .new .new_cont>li .img_wrap .badge{
    display:flex;
    position:absolute; left:10px; top:10px;
    z-index:2;
  }
  #section .new .new_cont>li .img_wrap .badge>li{
    font-size:14px;
    background-color: white;
    border-radius: 3px;
    margin-right:5px;
    padding:3px 5px;
  }
  #section .new .new_cont>li .img_wrap .badge>li:first-child{
    background-color: black;
    color:rgb(255, 223, 223);
    font-weight: bold;
  }
  #section .new .new_cont .con_t1,
  #section .new .new_cont .con_t2,
  #section .new .new_cont .con_t3,
  #section .new .new_cont .con_t4{
    margin-top:10px;
    margin-left:10px;
  }
  #section .new .new_cont .con_t1 span,
  #section .new .new_cont .con_t2 span,
  #section .new .new_cont .con_t3 span,
  #section .new .new_cont .con_t4 span{
    color:gray;
    font-size:0.8em;
  }
  #section .new .new_cont>li .balm_color,
  #section .new .new_cont>li .fruty_color,
  #section .new .new_cont>li .cheek_color,
  #section .new .new_cont>li .soon_color{
    display:flex;
    margin-left:10px;
  }
  #section .new .new_cont>li .balm_color>li,
  #section .new .new_cont>li .fruty_color>li,
  #section .new .new_cont>li .cheek_color>li,
  #section .new .new_cont>li .soon_color>li{
    width:25px; height:25px;
    border-radius: 50%;
    overflow:hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    margin-top:30px;
    margin-right:5px;
  }
  #section .new .new_cont>li .balm_color>li:nth-child(1){
    background-image: url(images/0000.jpg);
  }
  #section .new .new_cont>li .balm_color>li:nth-child(2){
    background-image: url(images/0111.jpg);
  }
  #section .new .new_cont>li .balm_color>li:nth-child(3){
    background-image: url(images/0222.jpg);
  }
  #section .new .new_cont>li .balm_color>li:nth-child(4){
    background-image: url(images/0333.jpg);
  }
  #section .new .new_cont>li .fruty_color>li:nth-child(1){
    background-color: rgb(201, 46, 46);
  }
  #section .new .new_cont>li .fruty_color>li:nth-child(2){
    background-color: rgb(250, 109, 109);
  }
  #section .new .new_cont>li .fruty_color>li:nth-child(3){
    background-color: rgb(172, 85, 85);
  }
  #section .new .new_cont>li .fruty_color>li:nth-child(4){
    background-color: rgb(224, 46, 114);
  }
  #section .new .new_cont>li .cheek_color>li:nth-child(1){
    background-color: rgb(255, 156, 156);
  }
  #section .new .new_cont>li .cheek_color>li:nth-child(2){
    background-color: rgb(255, 178, 191);
  }
  #section .new .new_cont>li .cheek_color>li:nth-child(3){
    background-color: rgb(255, 177, 236);
  }
  #section .new .new_cont>li .cheek_color>li:nth-child(4){
    background-color: rgb(231, 142, 142);
  }
  #section .new .new_cont>li .price{
    margin-top:20px;
    margin-left:10px;
    width:350px; height:40px;
    background-color: white;
    line-height:40px;
    font-size: 1.3em;
    font-weight:bold;
    border:1px solid rgb(201, 201, 201);
    padding-left:10px;
    box-sizing: border-box;
  }
  #section .sns{
    width:100%;
    height:1000px;
    position:relative;
  }
  #section .sns .sns_area{
    display: flex;
    width: 1500px;
    margin: 0 auto ;
    padding-top: 100px;
    justify-content: space-between;
    position: relative;
    z-index: 2;
  }
  #section .sns .tiktok .t_txt{
    display: flex;

  }
  #section .sns .tiktok .t_txt p{
    width:400px;
    height:50px;
    font-size:2em;
    margin-top:200px;
    transform:rotate(-90deg);
  }
  #section .sns .tiktok .t_txt p span,
  #section .sns .sns_area .insta .i_txt p span{
    font-weight: bold;
  }
  #section .sns .tiktok .t_txt img{
    height:800px;
    margin-left:-150px;
  }
  #section .sns .tiktok p{
    width:300px;
    font-size:2.4em;
    transform:translateX(350px);
    text-align:right;
    
  }
  #section .sns .tiktok .tt{
    font-weight: bold;
  }
  #section .sns .sns_area .insta .sns_icon{
    margin-left:450px;
  }
  #section .sns .sns_area .insta .sns_icon img{
    width:45px; height:45px;
    margin-bottom:30px;
  }
  #section .sns .sns_area .insta .i_txt p{
    font-size:2em;
    transform: translate(-110px, -60px);
  }
  #section .sns .sns_area .insta .i_txt img{
    width:600px;
    transform: translate(-110px, -50px);
  }
  #section .sns .bg{
    width:30%;
    height:1100px;
    background-color:pink;
    position:absolute; top:0; right:0;
  }